<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[鼻涕]</string>
		<key>face_id</key>
		<string>001</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鄙视]</string>
		<key>face_id</key>
		<string>002</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鄙视2]</string>
		<key>face_id</key>
		<string>003</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[病]</string>
		<key>face_id</key>
		<string>004</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[不开心]</string>
		<key>face_id</key>
		<string>005</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[馋嘴]</string>
		<key>face_id</key>
		<string>006</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吃]</string>
		<key>face_id</key>
		<string>007</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吃惊]</string>
		<key>face_id</key>
		<string>008</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大声]</string>
		<key>face_id</key>
		<string>009</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大笑]</string>
		<key>face_id</key>
		<string>010</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[得意]</string>
		<key>face_id</key>
		<string>011</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[口罩]</string>
		<key>face_id</key>
		<string>012</string>
	</dict>
	<string>[尴尬]</string>
	<string>[鼓掌]</string>
	<string>[汗]</string>
	<string>[坏笑]</string>
	<string>[可爱]</string>
	<string>[可怜]</string>
	<string>[抠鼻]</string>
	<string>[疑惑]</string>
	<string>[右撇嘴]</string>
	<string>[晕]</string>
	<string>[眨眼]</string>
	<string>[再见]</string>
	<string>[抓狂]</string>
	<string>[龇牙]</string>
	<string>[左撇嘴]</string>
	<string>[疑问]</string>
	<string>[老花镜]</string>
	<string>[封口]</string>
	<string>[哭]</string>
	<string>[困]</string>
	<string>[泪]</string>
	<string>[愤怒]</string>
	<string>[大怒]</string>
	<string>[钱]</string>
	<string>[撒娇]</string>
	<string>[亲亲]</string>
	<string>[色]</string>
	<string>[示爱]</string>
	<string>[衰]</string>
	<string>[想吐]</string>
	<string>[微笑]</string>
	<string>[委屈]</string>
	<string>[无语]</string>
	<string>[心动]</string>
	<string>[嘘]</string>
	<string>[教师节1]</string>
	<string>[教师节2]</string>
	<string>[教师节3]</string>
	<string>[教师节4]</string>
	<string>[教师节5]</string>
	<string>[教师节6]</string>
	<string>[教师节7]</string>
	<string>[教师节8]</string>
	<string>[教师节9]</string>
	<string>[教师节0]</string>
</array>
</plist>
