<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>face_name</key>
		<string>[鼻涕]</string>
		<key>face_id</key>
		<string>001</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鄙视]</string>
		<key>face_id</key>
		<string>002</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鄙视2]</string>
		<key>face_id</key>
		<string>003</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[病]</string>
		<key>face_id</key>
		<string>004</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[不开心]</string>
		<key>face_id</key>
		<string>005</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[馋嘴]</string>
		<key>face_id</key>
		<string>006</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吃]</string>
		<key>face_id</key>
		<string>007</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[吃惊]</string>
		<key>face_id</key>
		<string>008</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大声]</string>
		<key>face_id</key>
		<string>009</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大笑]</string>
		<key>face_id</key>
		<string>010</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[得意]</string>
		<key>face_id</key>
		<string>011</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[口罩]</string>
		<key>face_id</key>
		<string>012</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[尴尬]</string>
		<key>face_id</key>
		<string>013</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[鼓掌]</string>
		<key>face_id</key>
		<string>014</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[汗]</string>
		<key>face_id</key>
		<string>015</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[坏笑]</string>
		<key>face_id</key>
		<string>016</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[可爱]</string>
		<key>face_id</key>
		<string>017</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[可怜]</string>
		<key>face_id</key>
		<string>018</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抠鼻]</string>
		<key>face_id</key>
		<string>019</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[疑惑]</string>
		<key>face_id</key>
		<string>020</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[右撇嘴]</string>
		<key>face_id</key>
		<string>021</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[晕]</string>
		<key>face_id</key>
		<string>022</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[眨眼]</string>
		<key>face_id</key>
		<string>023</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[再见]</string>
		<key>face_id</key>
		<string>024</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[抓狂]</string>
		<key>face_id</key>
		<string>025</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[龇牙]</string>
		<key>face_id</key>
		<string>026</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[左撇嘴]</string>
		<key>face_id</key>
		<string>027</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[疑问]</string>
		<key>face_id</key>
		<string>028</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[老花镜]</string>
		<key>face_id</key>
		<string>029</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[封口]</string>
		<key>face_id</key>
		<string>030</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[哭]</string>
		<key>face_id</key>
		<string>031</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[困]</string>
		<key>face_id</key>
		<string>032</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[泪]</string>
		<key>face_id</key>
		<string>033</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[愤怒]</string>
		<key>face_id</key>
		<string>034</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[大怒]</string>
		<key>face_id</key>
		<string>035</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[钱]</string>
		<key>face_id</key>
		<string>036</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[撒娇]</string>
		<key>face_id</key>
		<string>037</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[亲亲]</string>
		<key>face_id</key>
		<string>038</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[色]</string>
		<key>face_id</key>
		<string>039</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[示爱]</string>
		<key>face_id</key>
		<string>040</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[衰]</string>
		<key>face_id</key>
		<string>041</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[想吐]</string>
		<key>face_id</key>
		<string>042</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[微笑]</string>
		<key>face_id</key>
		<string>043</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[委屈]</string>
		<key>face_id</key>
		<string>044</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[无语]</string>
		<key>face_id</key>
		<string>045</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[心动]</string>
		<key>face_id</key>
		<string>046</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[嘘]</string>
		<key>face_id</key>
		<string>047</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节1]</string>
		<key>face_id</key>
		<string>048</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节2]</string>
		<key>face_id</key>
		<string>049</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节3]</string>
		<key>face_id</key>
		<string>050</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节4]</string>
		<key>face_id</key>
		<string>051</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节5]</string>
		<key>face_id</key>
		<string>052</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节6]</string>
		<key>face_id</key>
		<string>053</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节7]</string>
		<key>face_id</key>
		<string>054</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节8]</string>
		<key>face_id</key>
		<string>055</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节9]</string>
		<key>face_id</key>
		<string>056</string>
	</dict>
	<dict>
		<key>face_name</key>
		<string>[教师节0]</string>
		<key>face_id</key>
		<string>057</string>
	</dict>
</array>
</plist>
